.fp-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: small;
    margin-bottom: 1rem;
}

.fp-grid-header {
    display: flex;
    background-color: #f0f0f0; 
    font-weight: bold;
}

.fp-header-cell,
.fp-grid-cell {
    display: inline;
    padding: 10px;
    border: 1px solid #ccc; 
}

.fp-grid-cell.firstrow{
    display: flex;
}

.fp-header-cell:nth-child(1) {
    flex: 1.5; 
    text-align: center; 
}

.fp-header-cell:nth-child(2) {
    flex: 8.5; 
}

.fp-grid-row {
    display: flex;
}

.fp-grid-cell {
    padding: 10px;
    border: 1px solid #ccc;
    width: 80%;
}

.fp-grid-cell p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.fp-grid-cell-left {
    margin-right: auto;
}

.fp-grid-cell:nth-child(1) {
    flex: 1.5; 
    text-align: center; 
}

.fp-grid-cell:nth-child(2){
    flex: 8.5; 
}
