.compare-updates-container{
    display: flex;
}

.update-page-container{
 width: 50%;
}

.updateParagraph {
	background-color: #ffe6e6; /* light red background for update lines */
  }
.compareUpdatePageButtonsDiv{
    display: flex;
    justify-content: center
}
.compareUpdatePageButtons{
    margin: 1vh 1vw;
}

.comparePageComponent{
    width: 50%;
}

.compare-divider {
    border-right: 1px solid #ccc;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .compare-updates-container {
        flex-direction: column;
    }
    .update-page-container,
    .comparePageComponent {
        width: 100%;
    }
    .compare-divider {
        display: none;
    }
}